@import url("https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
body {
    background: linear-gradient(to bottom, #aac5e0, #ffffff) no-repeat;
    font-family: 'IBM Plex Sans', sans-serif;
    margin: 0;
    zoom: .9;
}
::-webkit-scrollbar{width: 15px;height: 5px;}
::-webkit-scrollbar-track-piece{background-color: #ffffff;}
::-webkit-scrollbar-thumb:vertical{height: 5px;background-color: #b1b1b1;}
.wrapper {
    max-width: 1300px;
    background-color: #FFF;
    margin: 0 auto;
    /*line-height: 1.65;*/
}
aside{
    width: 25%;
    border-right: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
}
main{
    width: 75%;
}
.scroll {
    max-height: 767px;
    display: inline-block;
    padding: 0;
    overflow-x: hidden;
}

.content {
    display: flex;
}
.orders-back {
    padding: 0 15px;
    display: flex;
    align-items: center;
}
.orders-back i {
    margin: 0 auto;
    flex: 1;
    font-size: 30px;
    color: #427da9;
}
.orders-back p{
    margin: 0 auto;
    flex: 2;
    font-size: 19px;
    color: #666b64;
}
.orders-search {
    margin: 10px 3px 10px 5px;
    border: 1px solid #c1c1c1;
    display: flex;
    align-items: center;
}
input[type="search"] {
    border: none;
    color: #363533;
    font-size: 14px ;
    font-style: oblique;
    padding-left: 10px;
    flex: 4;
}
.search-icons {
    flex: 1;
    margin-left: 50px;
}
.search-icons i {
    font-size: 15px;
    color: #427da9;
    padding: 4px;
}
.order-number {

    display: flex;
    padding: 10px 10px;
    flex-direction: row;
    border-top: 1px solid #e3e3e3;
}
.order-info {
    flex: 3;
    display: flex;
    flex-direction: column;
    margin: 4px 0;
}
.order-info p {
    color: #6c606a;
    font-size: 13px;
    margin: 6px 0;
}
.order-info p:first-child {
    color: #313735;
    font-size: 18px;
    margin: 0;
}
.order-status {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.order-status p{
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 11px;
}
.order-status p:first-child {
    font-size: 23px;
    margin: 0;
}
.order-number:hover {
    background: #e8eff7;
    cursor: pointer;
}
.green {
    color: #327c31;
}
.red {
    color: #f09401;
}

.main-paragraph {
    margin: 0;
    padding-bottom: 10px;
    font-size: 19px;
    color: #666b64;
    text-align: center;
    background: #eff4f8;
    border-bottom: 1px solid #d0e0ed;
}
footer {
    background: #2f3b47;
    display: flex;
}
.order-number-footer {
    width: 25%;
    border-right: 1px solid #ebebeb;
    display: flex;
    justify-content: flex-end;
}
.order-footer {
    width: 75%;
    display: flex;
    justify-content: flex-end;
}
.order-number-footer i {
    color: #c3e4ff;
    font-size: 15px;
    margin: 10px 15px;
}
.fa-envelope {
    color: #c3e4ff;
    font-size: 15px;
    margin: 10px 15px;
}
.order-full-info {
    background: #eff4f8;
    padding: 45px 30px;
    border-bottom: 2px solid #cedeeb;
    height: 190px;
    display: flex;

}
.order-full-info-main p {
    color: #5a6561;
    font-size: 13px;
    margin: 10px 0;

}
.order-full-info p:first-child {
    font-size: 27px;
    color: #37383c;
    margin-bottom: 18px;
    margin-top: 0;
}

.fa-truck {
    border: 1px solid #4d7bac;
    border-radius: 100px;
    padding: 15px 15px;
    color: #437fa3;
    font-size: 22px;
}
.truck {
    position: absolute;
    width: 57px;
    height: 72.5px;
    margin-top: 31.5px;
}
.truck:hover {
    cursor: pointer;
    border-bottom: 2px solid #4d7bac;
}
.fa-truck:hover {
    background: #4d7bac;
    color: white;
}
.fa-user {
    border: 1px solid #4d7bac;
    border-radius: 100px;
    padding: 15px 18px;
    color: #437fa3;
    font-size: 22px;
}
.user {
    position: absolute;
    width: 57px;
    height: 72.5px;
    margin-top: 31.5px;
    margin-left: 90px;
}
.user:hover {
    cursor: pointer;
    border-bottom: 2px solid #4d7bac;
}
.fa-user:hover {
    background: #4d7bac;
    color: white;
}
.order-full-info-main {
    flex:5;
}
.order-full-info-coast{
    flex: 1;
}
#paragraph-euro{
    margin:0 4px;
    text-align: right;
    color: #5c6471;
}
.order-full-info-coast p:first-child {
    margin: 0;
}
.shipping-address {
    border-bottom: 2px solid #cedeeb;
    padding: 9px 30px;
}
.shipping-address-title {
    color: #2e353f;
    font-size: 18px;
    padding-bottom: 15px;
    border-bottom: 1px solid #cecece;
}
.shipping-address-table {
    font-size: 13px;
    margin-left: 115px;
    margin-bottom: 20px;
}
.shipping-address-table tr td:first-child{
    color: #5e5f62;
    text-align: right;
    padding-right: 10px;
}
.line-items {
    margin: 0;
    padding: 20px 30px 6px 30px;
    background: #fafafa;
}
.line-items-title {
    margin:0;
    color: #2e353f;
    font-size: 18px;
    padding-bottom: 15px;
    border-bottom: 1px solid #cecece;
}
.line-items-table {
    font-size: 15px;
    width: 100%;
    text-align: right;
    border: 0;
}
.line-items-table td{
    padding: 6px 60px 6px 15px;
    border-bottom: 1px solid #e4e4e4;
}
.line-items-table td:nth-child(4n+4){
    padding: 0 15px;
}
.line-items-table tr:first-child {
     background: #f7f7f7 ;
 }
.line-items-table tr {
    background: #ffffff;
}
.line-items-table tr td:first-child {
    text-align: left;
}


